<button mat-button (click)="createOrder()" class="create-btn">Add new Order</button>
<div class="orders-container">
    <table mat-table [dataSource]="_orders" class="mat-elevation-z8">
        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Total Price</th>
            <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
        </ng-container>
        <ng-container matColumnDef="deliveryDate">
            <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryDate}} </td>
        </ng-container>
        <ng-container matColumnDef="requestedUnits">
            <th mat-header-cell *matHeaderCellDef>Requested Units</th>
            <td mat-cell *matCellDef="let element"> {{element.requestedUnits}} </td>
        </ng-container>
        <ng-container matColumnDef="productCode">
            <th mat-header-cell *matHeaderCellDef>Product Code</th>
            <td mat-cell *matCellDef="let element"> {{element.product.code}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
            <a href="javascript:void(0)" (click)="editOrder(element)">
                <mat-icon>edit</mat-icon>
            </a>
            <a href="javascript:void(0)" (click)="deleteOrder(element.id)">
                <mat-icon>delete</mat-icon>
            </a>
      </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: _displayedColumns;"></tr>
    </table>
</div>

