<h2 mat-dialog-title>New Product</h2>
<mat-dialog-content>
  <div role="form" class="dialog-form">
    <mat-form-field>
      <mat-label>Code</mat-label>
      <input matInput required maxlength="20" [(ngModel)]="this.productItem.code" name="code">
      <mat-hint align="end">Max 20 characters</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput required maxlength="30" [(ngModel)]="this.productItem.name" name="name">
      <mat-hint align="end">Max 30 characters</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput required [(ngModel)]="this.productItem.description" name="points">
      <mat-hint align="end">Description is required</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stock</mat-label>
      <input matInput type="number" min="1" [(ngModel)]="this.productItem.stock" name="stock">
      <mat-hint align="end">Type a valid number</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Unit Price</mat-label>
        <input matInput type="number" min="1" [(ngModel)]="this.productItem.unitPrice" name="unit price">
        <mat-hint align="end">Type a valid number</mat-hint>
      </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="updateItem()"  mat-dialog-close="true">Save</button>
  <button mat-raised-button mat-dialog-close="true">Cancel</button>
</mat-dialog-actions>